GUVI_NOTES
Certificates
1. Primitive Neurons/Notes/Word Files
2. Sigmoid Neurons/Notes/Word Files
3. FeedForward_NeuralNetwork/Notes/Word Files
4. TrainingFNN/Notes/Word Files
5. Optimisation Algorithms/Notes/Word Files