GUVI_NOTES
Certificates
1. Primitive Neurons
2. Sigmoid Neurons
3. FeedForward_NeuralNetwork
4. TrainingFNN/Notes
5. Optimisation Algorithms
7-Convolutional-Neural-Network/data
8-Deep-Convolutional-Neural-Networks/data
8-Deep-Convolutional-Neural-Networks/Word Files